@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url('Imagens/fundo-madeira.jpg');
}

main {
    position: relative;
    height: 100vh;
}

section#Tela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url('Imagens/frame-iphone.png');
}

#home {
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
}

#redes_sociais > a > img {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: left;
}